<div class="container">
 <div class="row">
   <div class="col-12 col-lg-6 offset-lg-3">
     <div class="login-form mt-4 bg-light shadow-lg border p-5 rounded" style="margin: 0 auto;">
      <h2 class="py-3">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="form-row">
            <div class="col">
              <%= f.input :first_name,
                          required: true, class: "form-control" %>
            </div>
            <div class="col">
              <%= f.input :last_name,
                          required: true, class: "form-control" %>
            </div>
          </div>

          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>

          <%= f.input :driver_license,
                      required: true %>

          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>

          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-dark mr-2 rounded-pill" %>
        </div>
      <% end %>
      <div class="my-3">
        Already have an account? <%= render "devise/shared/links" %>
      </div>
    </div>
   </div>
 </div>
</div>

