<nav class="navbar navbar-vintagecars sticky-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/"><strong>VintageCars</strong></a>
      <div class="d-flex flex-row align-items-center">
        <%if !user_signed_in? %>
          <a href="/users/sign_in" class="btn btn-outline-dark mr-2 rounded-pill">Sign in</a>
        <%else %>
          <div class="mr-5">
            <span>🚗 </span><a href="/cars/new" class="text-muted">Add a car </a>
          </div>
          <div class="btn-group">

            <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%if current_user.picture.attached?%>
              <%= cl_image_tag current_user.picture.key, :quality=>100, class: 'avatar'%>
            <%else%>
              <i class="fas fa-user-circle fa-2x"></i>
             <%end%> 
            </a>
            <div class="dropdown-menu dropdown-position">
              <%=link_to "My Cars", user_cars_path(current_user), class: "dropdown-item" %>
              <%=link_to "My Bookings", bookings_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item"%>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        <%end%>
      </div>
  </div>
</nav>
