<div class="content">
  <div class="container my-5">
      <div class="row pt-4">
        <div class="col mb-2">
          <p class= "mb-0">Cars available: <%= @cars.length %></p>
          <h1 class="mb-3">Cars</h1>
            <button type="button" class="btn btn-outline-dark rounded-pill">60's</button>
            <button type="button" class="btn btn-outline-dark rounded-pill">70's</button>
            <button type="button" class="btn btn-outline-dark rounded-pill">80's</button>
            <button type="button" class="btn btn-outline-dark rounded-pill">Manual</button>
            <button type="button" class="btn btn-outline-dark rounded-pill">Sport</button>
        </div>
      </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
          <div class="cards">
            <% @cars.each_with_index do |car, index| %>
              <div class="card mr-3 card-rounded" style="width: 15rem;">
                <!-- for when we implement cloudinary -->
                <div id="carouselExampleIndicators-<%= index %>" class="carousel slide" data-interval="false" data-ride="carousel">
                  <div class="carousel-inner">
                    <% car.photos.each_with_index do |photo, index| %>
                      <div class="carousel-item <%= 'active' if index == 0 %>">
                        <%= link_to car_path(car) do %>
                          <%= cl_image_tag photo.key, :quality=> 60, :height=>200, class: 'card-img-top img-rounded' %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators-<%= index %>" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators-<%= index %>" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <div class="card-body d-flex flex-column">
                  <div class="card-details">
                    <h5 class="card-title font-weight-bold"><%= link_to "#{car.brand} | #{car.model}", car_path(car) %></h5>
                    <p class="card-text mb-3"><%= car.price_per_hour %>€/hour</p>
                  </div>
                  <div class="inline-block d-flex align-items-center mt-auto">
                    <i class="fas fa-user-circle fa-2x mr-2"></i>
                    <p class="text-muted m-0"><%= car.user_name %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
      <div class="col-12 col-md-6" data-controller="map">
        <div id="map"
          data-target="map.map"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

  </div>
</div>
