<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h1>Create your vintage car</h1>
      <p>Fill the form with the details from your car</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 p-5 bg-light shadow-lg rounded">
      <%= simple_form_for(@car) do |f| %>
        <div class="form-inputs">
          <div class="form-row">
            <div class="col">
              <%= f.input :brand, class: "form-control" %>
            </div>
            <div class="col">
              <%= f.input :model, class: "form-control" %>
            </div>
          </div>
          <%= f.input :location %>
          <%= f.input :price_per_hour %>
          <%= f.submit "Submit car", class: "btn btn-dark rounded-pill p-2 m-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
