<div id="carouselExampleIndicators" class="carousel my-5 slide container" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner carousel-photo-container">
    <% @car.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= cl_image_tag photo.key, :quality=>100, height: 500, class: 'card-img-top d-block image-carousel'%>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container my-5">
  <h1 class="font-weight-bold"><%= @car.year %> <%= @car.brand%> <%= @car.model %></h1>
  <p><i class="fas fa-map-marker-alt"></i> <%= @car.location %></p>
</div>

<div class= "container my-5">
  <div class="row d-flex">
    <div class="col-7 mr-5 py-5 border-top border-bottom">
      <h4 class="mb-3">Car specs:</h4>
      <ul>
        <li><p>Year: <%= @car.year %></p></li>
        <li><p>Seats: <%= @car.seats %></p></li>
        <li><p>License Plat: <%= @car.license_plate %></p></li>
        <li><p>Color: <%= @car.color %></p></li>
        <li><p>Transmission: <%= @car.transmission %></p></li>
        <li><p>Energy Source: <%= @car.energy_source %></p></li>
      </ul>
    </div>
    <div class="col-4 p-4 card-rent shadow-lg sticky-top h-100">
      <div>
        <h3><%= @car.price_per_hour%>€ <span class="price-hour">/hour</span></h3>
      </div>
      <div class="text-center">
        <!-- <a href="#" class="btn-book text-center">Book now!</a> -->
        <%= link_to "Book now!", new_car_booking_path(@car.id), class: 'btn-book text-center' %>
      </div>
      <div>
        <p class="text-center">You won't be charged yet</p>
      </div>
    </div>
    <div class="col-7 my-5 mr-5">
      <h4 class="mb-3">About the car:</h4>
      <p><%= @car.description %></p>
    </div>
    <div class="container">
      <% if policy(@car).update? %>
        <%= link_to car_path(@car), method: :delete, data: { confirm: "Are you sure?" } do %>
        <button type="button" class="btn btn-danger rounded-pill mr-3">Delete</button>
        <%= link_to "Edit", edit_car_path(@car), class: "btn btn-light rounded-pill"%>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
