<div id="carouselExampleIndicators" class="carousel my-5 slide container"  data-interval="false" data-ride="carousel">

  <div class="carousel-inner carousel-photo-container">
    <% @car.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= cl_image_tag photo.key,
        :quality => 100,
        :height => 500,
        class: 'card-img-top d-block img-carousel'%>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container my-5">
  <h1 class="font-weight-bold"><%= @car.year %> <%= @car.brand%> <%= @car.model %></h1>
  <p><i class="fas fa-map-marker-alt"></i> <%= @car.location %></p>
</div>

<div class= "container my-5 border-bottom">
  <div class="row d-flex justify-content-between">
    <div class="col-6 py-5 border-top border-bottom">
      <h3 class="mb-3"><strong>About the car:</strong></h3>
      <p><%= @car.description.html_safe %></p>
    </div>


    <% if (!policy(@car).update?) %>
      <div class="col-4 p-4 card-rent shadow-lg sticky-top h-100 mb-5">
        <div>
          <h3><%= @car.price_per_hour%>€ <span class="price-hour">/hour</span></h3>
        </div>
        <div>
          <%= simple_form_for [@car, @booking] do |f| %>
            <%= f.input :starting_date, as: :string, class: "form-control", :input_html => { :type => "datetime-local", :value => Date.today}%>
            <%= f.input :ending_date, as: :string, class: "form-control", :input_html => { :type => "datetime-local", :value => Date.today}%>
            <%= f.submit "Book now!", class: "btn-book text-center" %>
          <% end %>
        </div>
        <div>
          <p class="text-center">You won't be charged yet</p>
        </div>
      </div>
    <% else %>
      <% if current_user.id == @car.user_id %>
        <% if @car_bookings.empty? %>
          <div class="col-4 p-4 card-rent shadow-lg sticky-top h-100">
            You don't have any bookings pending!
          </div>
        <% else %>
          <div class="col-4 p-4 card-rent shadow-lg sticky-top h-100">
            <% @car_bookings.each_with_index do |booking, index| %>
              <div class="border-bottom">
                <h4 class="pt-3 pb-2"> Booking <%= index + 1 %> </h4>
                <p> <strong> Starting date </strong>: <%= booking.starting_date.to_s.gsub('UTC', '') %> </p>
                <p> <strong>Ending date </strong>: <%= booking.ending_date.to_s.gsub('UTC', '') %> </p>
                <div class="inline-block d-flex align-items-center mt-auto">
                  <i class="fas fa-user-circle fa-2x mr-2"></i>
                  <p class="text-muted m-0"><%= booking.user_name %></p>
                </div>
                <div class="text-right pb-4 d-flex justify-content-end">
                  <div class="mr-1">
                    <%= simple_form_for booking, method: :patch do |f| %>
                      <%= f.input :status, :as => :hidden, :input_html => { :value => :accepted } %>
                      <%= f.submit "Accept", class: "btn btn-outline-success rounded-pill" %>
                    <% end %>
                  </div>
                  <%= simple_form_for booking, method: :patch do |f| %>
                    <%= f.input :status, :as => :hidden, :input_html => { :value => :declined } %>
                    <%= f.submit "Decline", class: "btn btn-outline-danger rounded-pill" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="col-6 py-5">
      <div class="mb-3">
        <h3 class="mb-3"><strong>Car specs:</strong></h3>
        <ul style="list-style-type:none" class="mb-5">
          <li class="d-flex"> <i class="far fa-calendar-plus fa-2x m-2"></i><p class="m-2"><strong>Year: </strong><%= @car.year %></p></li>
          <li class="d-flex"> <i class="fas fa-user-ninja fa-2x m-2"></i><p class="m-2 "><strong>Passengers: </strong><%= @car.seats %></p></li>
          <li class="d-flex"> <i class="fas fa-car fa-2x m-2"></i><p class="m-2"><strong>License Plat: </strong><%= @car.license_plate %></p></li>
          <li class="d-flex"> <i class="fas fa-palette fa-2x m-2"></i><p class="m-2 "><strong>Color: </strong><%= @car.color %></p></li>
          <li class="d-flex"> <i class="fas fa-cog fa-2x m-2"></i><p class="m-2 "><strong>Transmission: </strong><%= @car.transmission %></p></li>
          <li class="d-flex"> <i class="fas fa-gas-pump fa-2x m-2"></i><p class="m-2 "><strong>Energy Source: </strong><%= @car.energy_source %></p></li>
        </ul>
      </div>
        <% if policy(@car).update? %>
          <div class="container mt-2 d-flex justify-content-between align-items-end">
              <div class="container mt-3">
                <%= link_to "Delete", car_path(@car), class: "btn btn-danger rounded-pill mr-3", method: :delete, data: { confirm: "Are you sure?" } %>
                <%= link_to "Edit", edit_car_path(@car), class: "btn btn-light rounded-pill mr-3"%>
              </div>
            <%= link_to "Back to all your cars", user_cars_path(current_user), class: "m-2 badge badge-pill badge-light larger-font-size thinner-font-size" %>
          </div>
        <% else %>
          <div class="text-right mt-3 ml-3">
            <%= link_to "Back to all cars", cars_path, class: "m-2 badge badge-pill badge-light larger-font-size thinner-font-size" %>
          </div>
        <% end %>

</div>
</div>

<div class="container border-top">

  <% if policy(@car).update? %>
    <div class="row mt-5">
      <div class="col-6">
        <div id="review">
          <% if @car.reviews.blank? %>
            <h2 class="font-weight-bold mb-5">Your car has <%= pluralize @car.reviews.size, "review" %></h2>
          <% else %>
            <h2 class="font-weight-bold mb-5">Your car has <%= pluralize @car.reviews.size, "review" %></h2>
            <% @car.reviews.each do |review| %>
              <% review.rating.times do %>
                  <i class="fas fa-star text-warning"></i>
                <% end %>
                <% x = 5 - review.rating %>
                <% x.times do  %>
                  <i class="far fa-star text-warning"></i>
                <% end %>
              <p class="mt-2"><%= review.content %></p>
            <% end %>
          <% end %>
        </div>

  <% else %>
    <div class="row mt-5">
      <% if @car.reviews.blank? %>
        <div class="col-6">
          <h2 class="font-weight-bold mb-5">This car has <%= pluralize @car.reviews.size, "review" %></h2>
        </div>
        <div class="col-6">
          <h3 class="font-weight-bold mb-5 mt-1"> Create a review</h3>
          <%= simple_form_for([ @car, @review ], method: :post) do |f| %>
            <div class="form-group">
                <%= f.input :rating, as: :numeric %>
            </div>
            <div class="form-group">
              <%= f.input :content, as: :text %>
            </div>
            <%= f.button :submit, class: "btn btn-dark mr-2 rounded-pill" %>
          <% end %>
        </div>
      <% else %>
        <div class="col-6">
          <h2 class="font-weight-bold mb-5">This car has <%= pluralize @car.reviews.size, "review" %></h2>
            <% @car.reviews.each do |review| %>
              <% review.rating.times do %>
                <i class="fas fa-star text-warning"></i>
              <% end %>
              <% x = 5 - review.rating %>
              <% x.times do  %>
                <i class="far fa-star text-warning"></i>
              <% end %>
              <p class="mt-2"><%= review.content %></p>
            <% end %>
        </div>
        <div class="col-6">
          <h3 class="font-weight-bold mb-5 mt-1"> Create a review</h3>
          <%= simple_form_for [ @car, @review ] do |f| %>
            <div class="form-group">
                <%= f.input :rating, as: :numeric %>
            </div>
            <div class="form-group">
              <%= f.input :content, as: :text %>
            </div>
            <%= f.button :submit, class: "btn btn-dark mr-2 rounded-pill" %>
          <% end %>
        </div>
      <% end %>
    </div>



      </div>
    </div>
  <% end %>
</div>
